body {
	background-color: antiquewhite;
}

h1, footer{
	text-align: center;
}

h2, h4 {
	text-align: left;
}

h3 {
font-style: oblique;
}

.erdSvg {
	width: 800px;
	height: 600px;
	float: right;
	margin-top: 20px;
	margin-bottom: 100px;
	margin-right: 20px;
}

.userPhoto {
	width: 100px;
	height: 100px;
	float: left;
	border: groove #968468 2px;
	padding: 3px;
	margin: 20px 20px 5px;

}

a {
	color: #4648f5;
	font-family: 'Candal', sans-serif;
	font-size: 15px;
}

footer {
	display: block;
	height: 30px;
	clear: both;
	color: #968468;
	font-family: 'Candal', sans-serif;
	background-color: #aeaca8;
}

ol {
	text-align: left;
}

.foot {
	font-family: 'Coda', cursive;
}


