body {
	background-image: url("pcpartpickerdotcom.svg");
	background-repeat: no-repeat;
}

img {
	width: 600px;
	height: 400px;
}

a {
	color: #4648f5;
	font-family: 'Candal', sans-serif;
	font-size: 15px;
}

p {
	text-align: center;
}

footer {
	display: block;
	height: 30px;
	clear: both;
	color: #968468;
	font-family: 'Candal', sans-serif;
	text-align: center;
	background-color: #aeaca8;
}

